.vbot-icon-prefix {
    color: var(--Vbot-PrimaryColor);
    font-size: var(--Vbot-FontSizeMiddle);
}

.vbot-icon-suffix {
    color: var(--Vbot-PrimaryColor);
    font-size: var(--Vbot-FontSizeMiddle);
}

