.ant-menu {
    color: var(--Vbot-FontColor) !important;
    background-color: transparent !important;
    border-right: 0px !important;
}

.ant-menu-submenu-selected .ant-menu-submenu-arrow {
    color: var(--Vbot-PrimaryColor) !important;
}

.ant-menu-item-selected {
    background-color: transparent !important;
}

.ant-menu-submenu-arrow  {
    color: var(--Vbot-FontColor) !important;
}

.ant-layout-sider {
    background-color: transparent !important;
}

.ant-input {
    color: var(--Vbot-FontColor);
    background-color:  transparent !important;
}

.ant-input-error > input {
    color: var(--Vbot-ErrorColor) !important;
    background-color:  transparent !important;
}

.ant-input-password-icon {
    color: var(--Vbot-PrimaryColor);
}

.ant-input-affix-wrapper {
    background-color: transparent !important;
}

.ant-btn-primary[disabled] {
    color: var(--Vbot-DisabledColor) !important;
    border-color:  var(--Vbot-DisabledColor) !important;
    background-color: var(--Vbot-DisabledBackground) !important;
}

.ant-btn-ghost {
    color: var(--Vbot-FontColor) !important;
}

.ant-btn-ghost:focus, .ant-btn-ghost:hover {
    color: var(--Vbot-PrimaryColor) !important;
}

.ant-checkbox-inner {
    color: var(--Vbot-PrimaryColor) !important;
    background-color: transparent !important;
}

.ant-checkbox-checked > .ant-checkbox-inner {
    background-color: var(--Vbot-PrimaryColor) !important;
}

////////////////////////////////////////////////////////////////////////////////
// .ant-table
////////////////////////////////////////////////////////////////////////////////
.ant-table {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--Vbot-DividerColor);
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: var(--Vbot-DividerColor);
    background-color: var(--Vbot-BackgroundColorLighten) !important;
}

.ant-table-row {
    background-color: transparent !important;
}

.ant-table-thead>tr>th {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--Vbot-DividerColor);
}

.ant-table-cell {
    color: var(--Vbot-FontColor) !important;
    background-color: transparent !important;
    border-bottom-color: var(--Vbot-DividerColor) !important;
}

.ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
    background-color: var(--Vbot-DividerColor) !important;
}

.ant-table-selection-column {
    padding-left: 16px !important;
}

////////////////////////////////////////////////////////////////////////////////
// .ant-pagination
////////////////////////////////////////////////////////////////////////////////
.ant-pagination-item {
    background-color: transparent !important;
    border-color: var(--Vbot-BorderColor);
}

.ant-pagination-item > a {
    color: var(--Vbot-FontColorLighten);
}

.ant-pagination-item-active {
    border-color: var(--Vbot-PrimaryColor);
}

.ant-pagination-item-active > a {
    color: var(--Vbot-PrimaryColor);
}

.ant-pagination-disabled > button {
    color: var(--Vbot-DisabledColor) !important;
    border-color:  var(--Vbot-DisabledColor) !important;
    background-color: var(--Vbot-DisabledBackground) !important;
}

.ant-pagination-item-link {
    color: var(--Vbot-FontColorLighten) !important;
    background-color: transparent !important;
}

.ant-pagination-item-ellipsis {
    color: var(--Vbot-DividerColor) !important;
}

////////////////////////////////////////////////////////////////////////////////
// .ant-select
////////////////////////////////////////////////////////////////////////////////
.ant-select-dropdown {
    border: 1px solid var(--Vbot-PrimaryColor);
    background-color:  var(--Vbot-BackgroundColor)  !important;
}

.ant-select-selector {
    color: var(--Vbot-FontColorLighten);
    background-color: transparent !important;
}

.ant-select-arrow {
    color: var(--Vbot-FontColorLighten) !important;
}

.ant-select-item-option-content {
    color: var(--Vbot-FontColorLighten);
    background-color:  transparent !important;
}

.ant-select-item-option-active > .ant-select-item-option-content {
    color: var(--Vbot-PrimaryColor) !important;
}

.ant-select-item-option-selected > .ant-select-item-option-content {
    color: var(--Vbot-PrimaryColor) !important;
}

.ant-select-item-option-active {
    color: var(--Vbot-PrimaryColor) !important;
    background-color: transparent !important;
}

.ant-select-item-option-selected {
    color: var(--Vbot-PrimaryColor) !important;
    background-color: transparent !important;
}

.vbot-modal .ant-modal-content {
    background-color: transparent !important;
    box-shadow: none !important;
}

.vbot-modal .ant-modal-header {
    display: none;
}

.vbot-modal .ant-modal-close {
    display: none;
}

.vbot-modal .ant-modal-footer {
    display: none;
}

.ant-tooltip-arrow-content {
    background-color: var(--Vbot-FontColor);
}

.ant-tooltip-inner {
    color: var(--Vbot-BackgroundColor);
    background-color: var(--Vbot-FontColor);
}


.ant-divider-inner-text {
    color: var(--Vbot-FontColor);
    font-size: var(--Vbot-FontSizeLarge);
}

.ant-divider-horizontal.ant-divider-with-text:before {
    border-top-color: var(--Vbot-DividerColor);
}

.ant-divider-horizontal.ant-divider-with-text:after {
    border-top-color: var(--Vbot-DividerColor);
}
