.ant-menu {
    color: var(--Vbot-FontColor) !important;
    background-color: transparent !important;
    border-right: 0px !important;
}

.ant-menu-submenu-selected .ant-menu-submenu-arrow {
    color: var(--Vbot-PrimaryColor) !important;
}

.ant-menu-item-selected {
    background-color: transparent !important;
}

.ant-menu-submenu-arrow  {
    color: var(--Vbot-FontColor) !important;
}

.ant-layout-sider {
    background-color: transparent !important;
}

.ant-input {
    color: var(--Vbot-FontColor);
    background-color:  transparent !important;
}

.ant-input-password-icon {
    color: var(--Vbot-PrimaryColor);
}

.ant-input-affix-wrapper {
    background-color: transparent !important;
}

.ant-btn-background-ghost.ant-btn-primary[disabled] {
    color: var(--Vbot-DisabledColor) !important;
    border-color:  var(--Vbot-DisabledColor) !important;
    background-color: var(--Vbot-DisabledBackground) !important;
}

