
body {
    background-color: var(--Vbot-BackgroundColor);
    overflow: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--Vbot-PrimaryColor);
}

.vbot-container-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.vbot-menu::after {
    border-right: 0px !important;
    left: 0px !important;
    border-left: 3px solid var(--Vbot-PrimaryColor);
}

.vbot-container-round {
    border-radius: 8px;
}


.vbot-container-round-right {
    border-radius: 0px 8px 8px 0px;
}

.vbot-container-shadow {
    box-shadow: 0px 0px 5px var(--Vbot-ShadowColor);
}

.vbot-fill-auto {
    width: 100%;
    height: 100%;
}

.vbot-fill-viewport {
    height:100vh !important;
    width: 100vw !important;
}

