:root{
    // --Vbot-PrimaryColor: rgb(98, 141, 235);
    // --Vbot-InfoColor: rgb(44, 105, 238);
    // --Vbot-SuccessColor: rgb(27, 199, 21);
    // --Vbot-ProcessingColor: rgb(218, 189, 24);
    // --Vbot-ErrorColor: rgb(236, 20, 20);
    // --Vbot-WarningColor: rgb(185, 78, 64);

    // --Vbot-BackgroundColor: rgb(233, 235, 238);
    // --Vbot-BackgroundColorLighten: rgb(255, 255, 255);
    // --Vbot-BackgroundColorDarken: rgb(220, 222, 225);

    // --Vbot-FontColor: rgb(50, 50, 50);
    // --Vbot-FontColorLighten: rgb(128, 128, 128);
    // --Vbot-FontColorDarken: rgb(25, 25, 25);

    // --Vbot-ShadowColor: rgb(117, 114, 133);
    // --Vbot-DividerColor: rgb(220, 222, 225);

    --Vbot-FontSizeSmall: 12px;
    --Vbot-FontSizeMiddle: 16px;
    --Vbot-FontSizeLarge: 20px;

    --Vbot-HeaderHeight: 50px;
    --Vbot-FooterHeight: 32px;
}


body {
    background: -webkit-radial-gradient(var(--Vbot-BackgroundColorLighten), var(--Vbot-BackgroundColorDarken));
    overflow: hidden;
    margin: 0;
    font-weight: 400;
    color:  var(--Vbot-FontColor) !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--Vbot-DisabledColor) !important;
    opacity: 1;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--Vbot-PrimaryColor);
}

.vbot-container-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.vbot-menu::after {
    border-right: 0px !important;
    left: 0px !important;
    border-left: 3px solid var(--Vbot-PrimaryColor);
}

.vbot-container-round {
    border-radius: 8px;
}

.vbot-container-round-right {
    border-radius: 0px 8px 8px 0px;
}

.vbot-container-shadow {
    box-shadow: 0px 0px 5px var(--Vbot-ShadowColor);
}

.vbot-fill-auto {
    width: 100%;
    height: 100%;
}

.vbot-fill-viewport {
    height:100vh !important;
    width: 100vw !important;
}

