:root{
    --PrimaryColor: #1890ff;
    --PrimaryBGColor: #FFFFFF;
    --PrimaryBGColorDarken: #DDDDDD;

    --FontSizeTiny: 9px;
    --FontSizeSmall: 11px;
    --FontSizeMiddle: 16px;
    --FontSizeLarge: 22px;
}

$header-height: 64px;
$footer-height: 32px;
