:root{
    // --Vbot-PrimaryColor: rgb(108, 50, 116);;
    // --Vbot-InfoColor: rgb(46, 116, 223);;
    // --Vbot-SuccessColor: rgb(27, 199, 21);
    // --Vbot-ProcessingColor: rgb(218, 205, 24);
    // --Vbot-ErrorColor: rgb(236, 20, 20);
    // --Vbot-WarningColor: rgb(185, 78, 64);

    // --Vbot-BackgroundColor: rgb(233, 235, 238);
    // --Vbot-BackgroundColorLighten: rgb(255, 255, 255);
    // --Vbot-BackgroundColorDarken: rgb(220, 222, 225);

    // --Vbot-FontColor: #333333;
    // --Vbot-FontColorLighten: #888888;
    // --Vbot-FontColorDarken: #111111;

    // --Vbot-ShadowColor: #8f8ba0;
    // --Vbot-DividerColor: rgb(220, 222, 225);

    --Vbot-FontSizeSmall: 12px;
    --Vbot-FontSizeMiddle: 16px;
    --Vbot-FontSizeLarge: 20px;

    --Vbot-HeaderHeight: 50px;
    --Vbot-FooterHeight: 32px;
}
